.navbar-contain{
    position: fixed;
    display: grid;
    grid-column: 1 / span 3;
    grid-template-columns:1fr minmax(280px, 1140px) 1fr;
    background: #fff;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    width:100%;
    height: 80px;
    z-index: 1;
}

.navbar {  
    grid-column: 2 / 3;
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    /* left: 50%;
    transform: translate(-50%, 0px); */
}

.navbar_cat_title {
    color: #000000;
    cursor: pointer;
    font-size: 1.25rem;  
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    border: none;  
    background-color: rgba(255, 255, 255, 0);
}

.navbar_cat_title {
    outline: none;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    
}